		<h1>Квалифицированная тонировка стекол автомобиля – профессиональные решения</h1>
		<h3>
			Качественная тонировка автомобиля, которую предлагает наш сервисный центр – это идеальный внешний вид и принципиально новые светотехнические характеристики светопропускающих элементов современного транспортного средства. Безупречное тонирование стекол – это многолетняя практика ответственных мастеров, использующих в процессе работ инновационные инструменты и первоклассные тонировочные пленки. 
		</h3><br>
		<div style="text-align:center">
		 	<a href="<%= image_path("IMG_14.jpg") %>" style="text-decoration:none" class="image_gallery" rel="gallery">
		 		<%= image_tag("IMG_14.jpg",class:"img-polaroid",style:"width:35%") %>
		 	</a>
		 	&nbsp
		 	<a href="<%= image_path("IMG_13.jpg") %>" style="text-decoration:none" class="image_gallery" rel="gallery">
		 		<%= image_tag("IMG_13.jpg",class:"img-polaroid",style:"width:35%") %>
		 	</a>
		</div><br>
		<h3>
			<strong>Тонировка стекол автомобиля в нашем тюнинговом центре позволяет достигать следующих результатов:</strong><br><br>
			<ul>
				<li>Впечатляющее повышение эстетики внешнего вида автомобиля, индивидуальность которого будет подчеркивать мастерски затонированные стекла гармоничных оттенков</li>
				<li>Создание нового уровня защиты стекла от удара, предотвращающего рассыпание светопропускающих элементов на мелкие кусочки в случае аварии. Как показывает практика, тонировочная пленка последнего поколения успешно удерживает осколки на своей поверхности</li>
				<li>Повышение комфорта салона, защищенного от ультрафиолетовых лучей и любопытных взглядов. Своевременное тонирование авто, не позволяющее злоумышленникам осмотреть салон в поисках ценностей, может оградить вашу собственность от преступных посягательств</li>
				<li>Повышение общей энергоэффективности транспортного средства. Тонирование автомобиля предоставляет возможность уменьшать расходы топлива на дополнительный обогрев или охлаждение салона, эффективно нивелируя негативные влияния внешней среды</li>
				<li>Дополнительная защита глаз водителя и пассажиров от слепящего света фар других автомобилей</li>
				<li>Значительное повышение уровня конфиденциальности</li>
			</ul>
			Если вы тонировали стекла в нашей мастерской, то можете не опасаться получить штраф за тонировку – продуманный подбор коэффициента светопропускания позволяет устанавливать пленки, полностью соответствующим существующим стандартам и требованиям. При этом не стоит думать, что такая тонировка обязательно будет осуществляться исключительно пленками светлых тонов – современный рынок предлагает широкий выбор материалов этой категории, цветовая насыщенность которых не зависит от способности пропускать лучи света.<br>
			Предлагаемая тонировка, цена которой напрямую зависит от объема работ и выбранных материалов – это прекрасная возможность усовершенствовать комфорт и безопасность вашего авто, воспользовавшись услугами профессионалов с многолетним опытом.
		</h3>
		<h1>Тонирование автомобиля – оптимальный выбор материалов и технологий</h1>
		<h3>
			Технически грамотное тонирование стекол автомобиля в нашем салоне предполагает продуманный выбор высококлассных материалов, представленных декоративно-функциональными пленками от лучших мировых производителей. Широкий ассортимент толщин, расцветок и светотехнических характеристик различных тонировочных пленок позволяет подбирать наиболее привлекательный и практичный тонер под конкретные модели авто. Одновременно автовладельцу предлагается достойный выбор тонировочных полос на лобовое стекло автомобиля, которые по цвету могут идеально сочетаться с расцветкой кузова.<br>
			<br>
			<strong>
				При этом тонировка автомобиля осуществляется на основе эффективных алгоритмов, которые включают в себя следующие мероприятия:
			</strong><br><br>
			<ul>
				<li>Компетентный выбор тонировочной пленки с учетом всех пожеланий владельца и существующих требований ГОСТа</li>
				<li>Тщательная подготовка светопропускающих элементов к тонировке – помывка, очистка, просушка</li>
				<li>Точный раскрой тонировочной пленки в соответствии с размерами стекол</li>
				<li>Пошаговая тонировка стекол с использованием передового инструментария, позволяющего создавать эталонные поверхности без единого дефекта</li>
				<li>Тщательная просушка тонированных стекол</li>
				<li>Сдача работы заказчику с предоставлением рекомендаций о правильной эксплуатации тонировочной пленки</li>
			</ul>
		</h3>