<% provide(:title, 'Автовинил') %>
<!DOCTYPE html>
<html>
<body>
<div class="row-fluid" id="slide-show">
	<div class="row-fluid opportunity">
		<div style="text-align:center;height:40px;">
			
			<a href="/avtovinyl" alt="Автовинил" style="text-decoration:none">
			<button class="btn btn_avtovinyl passive_button btn-inverse" type="button" id="vinyl_button" style="width:25%">
	  			Автовинил
	  		</button>
			</a>
			
			<a href="/avtovinyl_works" alt="Примеры работ" style="text-decoration:none">
	  		<button class="btn btn_avtovinyl passive_button btn-inverse" type="button" id="vinyl_examples_button" style="width:35%">
	  			Примеры работ
	  		</button>
			</a>
			
			<a href="/avtovinyl_prices" alt="Автовинил Цены" style="text-decoration:none">
	  		<button class="btn btn_avtovinyl active_button btn-inverse" type="button" id="vinyl_prices_button" style="width:25%">
	  			Цены
	  		</button>
			</a>
			
		</div><br>

		<%= render "static_pages/vinyl_prices" %>
	</div>
	<div style="width:24%;height:100%;right:0;top:0;position:absolute;">
	<%= render "static_pages/menu" %>
	</div>
</div>
</body>
