
<footer class="footer">
	<a href="http://www.sergeyfetisov.ru">
		<%= image_tag("powered.png", size: "200x100", alt: "powered by Sergey Fetisov",style:"position:absolute;left:0") %>
	</a>
	<h5>Москва, улица Сергея Эйзенштейна, д.1 &nbsp&nbsp&nbsp 8 (925) 664-62-29</h5>
</footer>
