<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("vinyl1.png", size: "150x150", alt: "VinylProfi"), root_path, id: "logo" %>
      <nav>
		  <ul class="nav pull-right">

		  	<li><a href="/tonirovka">Тонировка</a></li>
		  	<li><a href="/avtovinyl">Автовинил</a></li>
		  	<li><a href="/antigraviynaya_zashita">Антигравийная защита</a></li>
			<li><a href="/udalenie_skolov_na_steklax_avtomobilej">Ремонт сколов</a></li>
		    <li><a href="/contact">Контакты</a></li>
		   </ul>
        <!--<ul class="nav pull-right">
          <li><a href="/nashi_raboty" style="text-decoration: none">Наши работы</a></li>
          <li><a href="/prices" style="text-decoration: none">Цены</a></li>
          <li><a href="/contact" style="text-decoration: none">Контакты</a></li>
        </ul>
	-->
      </nav>
    </div>
  </div>
</header>
